.exp-bar {
  display: inline;
  width: 280px;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.exp-filler {
  height: 10px;
  background-color: #196bde;
  transition: all 0.5s ease-in-out 0.5s;
}

.exp-text {
  margin-left: 230px;
}

.username-box {
  width: 260px;
  height: 60px;
  border-radius: 10px;
}

.home-option {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
}

.rock-thumb {
  width: 80px;
  height: 80px;
}

.locked {
  opacity: 40%;
}

.unlocked:hover {
  opacity: 60%;
}

.game-board {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.font-10 {
  font-size: 10px;
}

.z1 {
  z-index: 1;
  position: absolute;
}

.game-options {
  width: 300px;
}

.buddy-form {
  width: 316px;
}

.option-button {
  flex-basis: calc(40%);
}

.border {
  border: black solid 2px;
}

.border-top {
  border-top: black solid 2px;
}

.border-bottom {
  border-bottom: black solid 2px;
}

.border-left {
  border-left: black solid 2px;
}

.border-right {
  border-right: black solid 2px;
}

.border-blue {
  border: solid 2px #0f3375;
}

.border-rad-10 {
  border-radius: 10px;
  overflow: hidden;
}

.nav-start {
  border-radius: 10px 0px 0px 10px;
}

.nav-end {
  border-radius: 0px 10px 10px 0px;
}

.nav-option {
  text-decoration: none;
  color: black;
}

.line-height-0 {
  line-height: 0px;
}

.line-height-10 {
  line-height: 10px;
}

.nav-option:hover:not(.active) {
  background-color: #cce4fd;
}

.text-center {
  text-align: center;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.margin-10 {
  margin: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.bg-blue-10 {
  background-color: #0f3375;
}

.bg-blue-9 {
  background-color: #13459c;
}

.bg-blue-8 {
  background-color: #1557c0;
}

.bg-blue-7 {
  background-color: #196bde;
}

.bg-blue-6 {
  background-color: #2382f7;
}

.bg-blue-5 {
  background-color: #4b9cf9;
}

.bg-blue-4 {
  background-color: #77b6fb;
}

.bg-blue-3 {
  background-color: #a4cefc;
}

.bg-blue-2 {
  background-color: #cce4fd;
}

.bg-white {
  background-color: #e8f3fe;
}

.border-red {
  border: solid 1px red;
}

.text-white {
  color: #e8f3fe;
}

.font-small {
  font-size: small;
}

.text-red {
  color: red;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.half {
  flex-basis: calc(100% / 2 - 10px);
}

.third {
  flex-basis: calc(100% / 3 - 10px);
}

.grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.block {
  display: block;
}

.col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.coin {
  animation: Flip 2s ease-in-out;
}

.rps-shoot {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: black;
}

.rps-img {
  animation: Drop 0.5s ease-in;
}

.ttt-spot {
  height: 98px;
  flex-basis: calc(100% / 3 - 3px);
}

.buddy-img {
  max-height: 100px;
  max-width: 100px;
}

.buddy-display-container {
  max-height: 100px;
  max-width: 100px;
  border-radius: 25px;
  overflow: hidden;
}

@keyframes Flip {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0, 1);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes Drop {
  0% {
    transform: scale(2, 2);
  }

  90% {
    transform: scale(1, 1);
  }
  93% {
    transform: rotate(5deg);
  }
  96% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
