.game-board {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.game-options {
  width: 300px;
}

.buddy-form{
  width: 320px;
}

.option-button {
  flex-basis: calc(40%);
}

.border {
  border: black solid 2px;
}

.text-center {
  text-align: center;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.margin-10{
  margin: 10px;
}

.width-90 {
  width: 90%;
}

.bg-blue {
  background-color: blue;
}

.border-red{
  border: solid 1px red;
}

.text-white {
  color: white;
}

.font-small{
  font-size: small;
}

.text-red{
  color: red;
}

.flex {
  display: flex;
}

.half{
  flex-basis: calc(100% / 2 - 10px);
}

.third {
  flex-basis: calc(100% / 3 - 10px);
}

.justify-center {
  justify-content: center;
}

.block {
  display: block;
}

.col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.coin {
  animation: Flip 2s ease-in-out;
}

.rps-shoot {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: black;
}

.rps-img{
  animation: Drop .5s ease-in;
}

@keyframes Flip {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0, 1);
  }
  50% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes Drop {
  0% {
    transform: scale(3,3);
  }
  
  90%{
    transform: scale(1,1)
  }
  93%{
    transform: rotate(5deg);
  }
  96%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}